@font-face
{
    font-family: IranSans;
    src: url(../FontsFree-Net-ir_sans.ttf);
}


form
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.login-header
{
    color: white;
    text-align: center;
    font-weight: 300;
    font-family: IranSans;
}
.password-link
{
    text-align: right;
    color: #1d9e83;
    text-decoration: none;
    font-family: IranSans;
    font-size: .75rem;
}
.password-link:hover
{
    color: #22b494;
    cursor: pointer;
}
.submit-login-btn
{
    width: 100%;
    height: 40px;
    background-color: rgba(26,177,136,255);
    border: 0;
    outline: none;
    color: white;
    font-family: IranSans;
    cursor: pointer;
}